*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    text-align: center;
    margin: 50px auto;
}

.card{
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px #00000094;
    background: linear-gradient(to bottom, #000, #000, #000, #fff);
    margin: 20px 100px;
}

.seguir{
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s;
    background-color: #fff;
}

.seguir:hover{
    background-color: #000;
    color: #fff;
}