* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modo Dark e tudo oque ele muda */
.modoDark{
    background-color: #000;
}

.modoDark h1{
    color: #fff;
}
i{
    transition: .3s;
}
.modoDark i{
    color: #ffffff;
}

.modoDark #submitButton{
    background-color: #fff;
}
.modoDark #submitButton i{
    color: #000000;
}

.modoDark nav{
    background-color: #000;
}
/*FIM Modo Dark e tudo oque ele muda */

:root {
    --primary-color: #000000;
    --secondary-color: #2ecc71;
    --background-color: #ffffff;
    --text-color: #34495e;
    --card-background: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins';
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    transition: .3s;
}

nav{
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    right: 0;
    width: 100vh;
    padding: 30px 30px;
    top: 0;
    transition: .3s;
}

.tema{
    font-size: 35px;
    border: none;
    cursor: pointer;
    background: none;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 100px auto;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 30px;
    
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-form .product-input {
    padding: 12px;
    width: 400px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    outline: none;
    transition: .5s;
}

.search-form .product-quantity{
    padding: 12px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    outline: none;
    width: 60px;
}

.search-form .product-input:focus {
    box-shadow: 0 0 5px var(--primary-color);
}

.search-form button {
    padding: 12px 25px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--background-color);
    border-radius: 25px;
    transition: .2s;
}

.search-form button:hover {
    background-color: #222222;
}

.product-card {
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000077;
    text-align: center;
    padding: 20px;
    transition: .2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px 4px #00000077;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.price {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 5px;
    padding: 2px;
    width: 100px;
    margin: 0 auto;
}

@media (max-width: 510px){
    body{
        padding: 30px;
    }

    h1{
        font-size: 23px;
    }
    .search-form input{
        text-align: center;
        padding: 0;
    }
}